@use '../../styles/breakpoints' as *;

$door-br: 20px;

.safe_container {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.safe {
  background-color: white;
  width: 95%;
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 2px solid black;
  border-radius: $door-br - 5;
}

.safe_outline {
  background-color: #caa472;
  left: 0;
  top: 0;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80%;
  border: solid 2px black;
  border-radius: $door-br;
}